<!-- 
	Page: show.html.erb
	Description: 
		Used to show a certain groups information.
 -->

<!-- HTML code to show the Group Name, Owner Name, and Group Description -->
<h1><%= @currentGroup.name %></h1>
<h3>Owner: <%= @groupOwnerName %></h3>
<p><%= @currentGroup.description %></p>
