<!-- 
Page: index.html.erb
Description: main page, links to other pages
 -->
<p>WELCOME TO LISTR</p> 
<%= link_to("Logout", :controller => 'access', :action => 'logout') %>
<%= link_to("View Your Groups", :controller => 'groups', :action => 'index') %>
<%= link_to("New Group", :controller => 'groups', :action => 'new') %>