<!-- 
	Page: application.html.erb
	Description: main layout
 -->
<!DOCTYPE html>
<html>
<head>
  <title>Listr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<!-- All views created start here in the yield tag -->
<%= yield %>
<!-- views end here -->
</body>
</html>
